(headers) {
        header {
                Strict-Transport-Security "max-age=31536000;"
                X-Xss-Protection "1; mode=block"
                X-Robots-Tag "none"
                -Server
                # CORS headers
                Access-Control-Allow-Origin "https://dreamhabitat.victor-zhang.fr"
                Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
                Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                Access-Control-Allow-Credentials "true"
        }
}

(logging) {
        log {
                output stdout
        }
}

{
  acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
  email juba.djaouti@gmail.com
}

dreamhabitat.victor-zhang.fr {
  root * /usr/share/caddy
  file_server
  import headers

  handle /api/* {
    reverse_proxy app:8080 {
      import headers
    }
  }

  handle {
    try_files {path} /index.html
  }

  log {
    output file /var/log/caddy/access.log
    format json
  }

  handle_errors {
    respond "{http.error.status_code} {http.error.status_text}" 500
  }
}
